@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #ffffff; /* Default light mode background */
    color: #000000; /* Default light mode text color */
  }
  
  body.dark {
    background-color: #1a202c; /* Dark mode background (Tailwind's gray-900) */
    color: #ffffff; /* Dark mode text color */
  }